.about {
  display: grid;
  gap: var(--vertical-spacer-medium);
  align-items: start;

  h2 {
    margin-bottom: var(--vertical-spacer-small);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.aboutRightColumn {
  li {
    margin-block: 0.25rem;
  }

  a {
    font-size: var(--fs-base);
    font-weight: unset;
    margin-block: var(--vertical-spacer-small);
  }

  @media screen and (min-width: 768px) {
    justify-self: center;
  }
}

.livePreviewMenuContainer {
  margin-top: var(--vertical-spacer-medium);
  margin-bottom: var(--vertical-spacer-small);

  @media screen and (min-width: 768px) {
    margin-top: var(--vertical-spacer-large);
  }
}

.tabs {
  display: grid;
  gap: var(--vertical-spacer-small);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  background: var(--clr-bg-light);

  padding: var(--vertical-spacer-small);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(8ch, 1fr));
  }
}

.activeTabButton {
  background: var(--clr-fg-light);
  color: var(--clr-bg);
}

.pdfDocument {
  max-width: 100%;
  padding: var(--vertical-spacer-small);
  background: var(--clr-bg);
  border-radius: var(--border-radius-200);
  box-shadow: var(--box-shadow-100);
}

.pdfPage {
  box-shadow: var(--box-shadow-100);
}

// react-pdf uses multiple elements to render a pdf on the page
// these styles are to make sure the pdf is responsive

.pdfPage > canvas,
.pdfPage > div {
  max-width: 100%;
  height: auto !important;
}
