//
// services
//

.mobileBar {
  display: grid;
  margin-block: var(--vertical-spacer-large);
  align-items: center;
  gap: var(--vertical-spacer-large);
  margin-inline: auto;
  width: min(1000px, 90vw);

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.mobileBarTitle {
  margin-bottom: var(--vertical-spacer-small);
}

.mobileBarDescription {
  font-size: var(--fs-base);
}

//
// party svg
//

.mobileBarImage {
  width: min(400px, 80%);
  margin-inline: auto;
  border-radius: var(--border-radius-200);
}

//
// services
//

.serverImage {
  margin-top: var(--vertical-spacer-large);
  margin-bottom: var(--vertical-spacer-medium);
  width: clamp(200px, 50vw, 350px);
  margin-inline: auto;
  border-radius: 50vh;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.services {
  padding-block: var(--vertical-spacer-large);
  background: var(--clr-primary-light);
}

.servicesWrapper {
  display: grid;
  gap: var(--vertical-spacer-small);

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.service {
  border-radius: var(--border-radius-200);
  border: 6px solid var(--clr-primary-light);

  p {
    color: var(--clr-fg-dark);
  }
}

.serviceTitle {
  margin-bottom: var(--vertical-spacer-small);
}

//
// products
//

.products {
  margin-block: var(--vertical-spacer-large);
}

.productsHeader {
  text-align: center;
  margin-bottom: var(--vertical-spacer-large);
}

.productsWrapper {
  display: grid;
  gap: var(--vertical-spacer-large);

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
