@import url("./reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;700;900&display=swap");

:root {
  --ff-title: "Great Vibes", cursive;
  --ff-primary: "Roboto", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-xbold: 900;

  --clr-neutral-100: hsl(0, 0%, 93%);
  --clr-neutral-100-t: hsla(0, 0%, 96%, 50%);
  --clr-neutral-200: hsl(0, 0%, 80%);
  --clr-neutral-500: hsl(60, 2%, 8%);
  --clr-neutral-600: hsl(60, 2%, 29%);
  --clr-neutral-700: hsl(60, 2%, 22%);
  --clr-neutral-800: hsl(60, 2%, 15%);
  --clr-neutral-850: hsl(60, 2%, 11%);
  --clr-neutral-900: hsl(60, 2%, 8%);
  --clr-neutral-900-t: hsla(60, 2%, 8%, 65%);
  --clr-primary-dark: rgb(49, 104, 21);
  --clr-primary: rgb(109, 190, 46);
  --clr-primary-light: hsla(104, 30%, 55%, 1);

  --clr-bg: var(--clr-neutral-900);
  --clr-bg-light: var(--clr-neutral-850);
  --clr-fg: var(--clr-neutral-100);
  --clr-fg-light: var(--clr-neutral-200);

  --border-radius-100: 0.25rem;
  --border-radius-200: 0.5rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  font-size: 15px;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.column {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
}

.content-spacer {
  padding-block: 1rem;
}

a {
  font-weight: 500;
  color: var(--clr-primary-);
  text-decoration: inherit;

  &:hover {
    color: var(--clr-primary);
  }
}

p {
  color: var(--clr-neutral-200);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 0.9;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  font-family: var(--ff-title);
}

h2,
h3,
h4,
h5 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-xbold);
  letter-spacing: -1px;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
  color: var(--clr-neutral-100);
}

p {
  line-height: 1.7;
}
