@import url("./reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Raleway:wght@400;700;800&display=swap");

:root {
  --content-max-width: 1300px;
  --content-padding: clamp(1.5rem, 5vw, 3rem);
  --section-padding: calc(3 * var(--vertical-spacer-large));

  --ff-primary: "Libre Baskerville", serif;
  --ff-title: "Raleway", sans-serif;
  --ff-logo: "Great Vibes", cursive;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-xbold: 800;

  --fs-base-small: clamp(13px, 3vw, 15px);
  --fs-base: clamp(14px, 4vw, 16px);
  --fs-base-large: clamp(18px, 5vw, 20px);

  --fs-heading-small: clamp(18px, 3vw, 22px);
  --fs-heading: clamp(24px, 4vw, 48px);
  --fs-heading-large: clamp(30px, 5vw, 42px);
  --fs-heading-hero: clamp(48px, 10vw, 80px);

  --border: 2px solid var(--clr-fg-light);
  --border-radius-100: 0.25rem;
  --border-radius-200: 0.5rem;

  --clr-bg: var(--clr-neutral-100);
  --clr-bg-light: var(--clr-neutral-200);
  --clr-fg: var(--clr-neutral-900);
  --clr-fg-light: var(--clr-neutral-800);

  --clr-neutral-100: hsla(0, 0%, 97%, 100%);
  --clr-neutral-100-t: hsla(0, 0%, 96%, 25%);
  --clr-neutral-150: hsla(0, 0%, 94%, 100%);
  --clr-neutral-200: hsla(0, 0%, 90%, 100%);
  --clr-neutral-500: hsla(0, 2%, 8%, 100%);
  --clr-neutral-600: hsla(0, 2%, 29%, 100%);
  --clr-neutral-700: hsla(0, 2%, 22%, 100%);
  --clr-neutral-800: hsla(0, 0%, 16%, 100%);
  --clr-neutral-850: hsla(0, 2%, 10%, 100%);
  --clr-neutral-900: hsla(0, 2%, 8%, 100%);
  --clr-neutral-900-t: hsla(0, 0%, 8%, 75%);

  // temporary, until we finalize color scheme
  --clr-primary: hsl(47, 73%, 58%);
  --clr-primary-light: hsl(47, 73%, 68%);
  --clr-primary-dark: var(--clr-fg-light);

  // --clr-primary-h: 246;
  // --clr-primary-s: 48%;
  // --clr-primary-l: 50%;

  // --clr-primary: hsla(
  //   var(--clr-primary-h),
  //   var(--clr-primary-s),
  //   var(--clr-primary-l),
  //   100%
  // );

  // --clr-primary-t: hsla(
  //   --var(--clr-primary-h),
  //   --var(--clr-primary-s),
  //   --var(--clr-primary-l),
  //   75%
  // );

  // --clr-primary-dark: hsla(
  //   var(--clr-primary-h),
  //   var(--clr-primary-s),
  //   calc(var(--clr-primary-l) * 0.9),
  //   100%
  // );

  // --clr-primary-light: hsla(
  //   var(--clr-primary-h),
  //   var(--clr-primary-s),
  //   calc(var(--clr-primary-l) * 1.1),
  //   100%
  // );

  --vertical-spacer-small: 0.5rem;
  --vertical-spacer-medium: 1rem;
  --vertical-spacer-large: 3rem;

  @media screen and (min-width: 768px) {
    --vertical-spacer-small: 0.65rem;
    --vertical-spacer-medium: 2rem;
    --vertical-spacer-large: 4rem;
  }

  @media screen and (min-width: 1024px) {
    --vertical-spacer-small: 0.8rem;
    --vertical-spacer-medium: 3rem;
    --vertical-spacer-large: 6rem;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  font-size: 14px;
  scroll-behavior: smooth;
}

#root {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.column {
  max-width: var(--content-max-width);
  padding-inline: var(--content-padding);
  margin-inline: auto;
  width: 100%;
}

.content-spacer {
  padding-block: var(--vertical-spacer-medium);
}

.content-spacer-large {
  padding-block: calc(3 * var(--vertical-spacer-medium));
}

a {
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
  font-family: var(--ff-title);
  text-decoration: inherit;

  &:hover {
    color: var(--clr-primary-light);
    text-decoration: underline;
  }
}

p {
  color: var(--clr-fg-light);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 0.9;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  font-family: var(--ff-logo);
}

h2,
h3,
h4,
h5 {
  font-family: var(--ff-title);
  font-weight: var(--fw-xbold);
  letter-spacing: -1px;
}

h2 {
  text-transform: uppercase;
  font-size: var(--fs-heading-large);
}

h3 {
  font-size: var(--fs-heading);
}

h4 {
  font-size: var(--fs-heading-small);
}

p {
  font-size: var(--fs-base);
  line-height: 1.7;
}

.error {
  font-weight: var(--fw-bold);
  color: red;
}

label,
legend {
  color: var(--clr-fg-light);
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
}

form {
  display: grid;
  gap: 1rem;
  margin-inline: auto;
  padding: 1rem;
  margin-block: 1rem;
  border: var(--border);
  width: 100%;
  border-radius: var(--border-radius-100);
  max-width: 600px;
  text-align: left;
}

input {
  background: var(--clr-bg);
  font-family: var(--ff-title);
  padding: 0.25rem 0.5rem;
  outline: 0;
  border: var(--border);
  border-radius: var(--border-radius-100);

  &:focus {
    border-color: var(--clr-fg-light);
  }

  &::placeholder {
    color: var(--clr-neutral-600);
  }
}

fieldset {
  border: 0;
}

legend {
  margin: var(--vertical-spacer-small);
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.input-group {
  display: grid;
  gap: 0.2rem;
}

img {
  border-radius: var(--border-radius-100);
}
