@import url("./reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand:wght@400;700&display=swap");

:root {
  --ff-title: "Great Vibes", cursive;
  --ff-primary: "Quicksand", sans-serif;
  --clr-primary: #eeea19;
  --clr-primary-dark: #8a8a8a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: var(--ff-primary);
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}

h1 {
  color: var(--clr-primary);
}

a {
  font-weight: 500;
  color: var(--clr-primary-dark);
  text-decoration: inherit;
}

a:hover {
  color: var(--clr-primary);
}

h1 {
  font-size: 5rem;
  line-height: 1;
  font-family: var(--ff-title);
}
