//
// hero section
//

.hero {
  display: grid;
  min-height: max(45vh, 400px);
  text-align: center;
  text-shadow: var(--text-shadow-100);
  width: 100vw;

  p {
    color: var(--clr-bg-light);
  }
}

.heroOverlay {
  display: grid;
  place-items: center;
  background: var(--clr-neutral-900-t);
  padding: 2rem;
  color: var(--clr-bg);
}

.heroTitle {
  letter-spacing: -0.05em;
  font-size: var(--fs-heading-hero);
  text-transform: unset;
  line-height: 0.9;
  max-width: 13ch;
  margin-inline: auto;

  span {
    color: var(--clr-primary-light);
  }
}

.heroSubtitle {
  font-size: var(--fs-base);
  font-family: var(--ff-title);
  letter-spacing: 4px;
  color: var(--clr-neutral-100-t);
  margin-block: var(--vertical-spacer-small);
  text-transform: uppercase;
}

.heroChildren {
  margin-top: calc(1.5 * var(--vertical-spacer-small));
}
