.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.coming-soon {
  text-align: center;
}

.coming-soon img {
  max-width: 400px;
  max-height: 30vh;
  border-radius: 0.5rem;
  margin-block: 3rem;
}

.coming-soon svg {
  width: 42px;
}
