.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.comingsoon {
  text-align: center;
}

.comingsoon img {
  max-width: 400px;
  max-height: 30vh;
  border-radius: 0.5rem;
  margin-block: 3rem;
}

.comingsoon svg {
  width: 42px;
}
