.home {
  min-height: 100%;
  border-radius: var(--border-radius-100);
}

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  height: min(50vh, 400px);
  text-align: center;

  p {
    color: var(--clr-bg-light);
  }
}

.heroOverlay {
  display: grid;
  place-items: center;
  background: var(--clr-neutral-900-t);
  padding: 2rem;
  color: var(--clr-bg);
}

.title {
  font-family: var(--ff-logo);
  text-transform: unset;
  font-size: clamp(4rem, 10vw, 6rem);
  line-height: 1.3;
}

.subtitle {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.heading {
  margin-bottom: 1.25rem;
}

.about {
  padding-block: var(--vertical-spacer-large);
}

.aboutContent {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-spacer-large);
  padding-block: var(--vertical-spacer-large);
  max-width: 50ch;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.description {
  text-align: left;
}

.sellingPointsWrapper {
  margin-inline: auto;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

.sellingPoint {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;

  @media screen and (min-width: 768px) {
    border: var(--border);
    border-radius: var(--border-radius-100);
    padding: 1rem;
  }
}

.sellingPointDetails {
  grid-column: 2/3;
  margin-block: 1rem;
  align-self: start;
}

.checkMark {
  max-width: 24px;
  aspect-ratio: 1/1;
}

.drinkImage {
  max-width: 80%;
  max-height: 40vh;
  // aspect-ratio: 2/1;
  margin-inline: auto;
  margin-bottom: var(--vertical-spacer-large);
  object-fit: cover;
  // border-radius: 50vh;
}

.alternativeBg {
  background: var(--clr-neutral-900);
  padding-block: var(--vertical-spacer-large);
}

.section {
  padding-block: var(--vertical-spacer-large);
  display: flex;
  flex-direction: column;
  gap: var(--vertical-spacer-medium);
  align-items: center;

  @media screen and (min-width: 768px) {
    max-width: 80%;
    margin-inline: auto;
    flex-direction: row;
  }
}

.sectionImage {
  max-width: 50%;
}
