.home {
  min-height: 100%;
  border-radius: var(--border-radius-100);
}

//
// hero section
//

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  min-height: max(50vh, 400px);
  text-align: center;

  p {
    color: var(--clr-bg-light);
  }
}

.heroOverlay {
  display: grid;
  place-items: center;
  background: var(--clr-neutral-900-t);
  padding: 2rem;
  color: var(--clr-bg);
}

.heroTitle {
  letter-spacing: -0.05em;
  font-size: var(--fs-heading-hero);
  text-transform: unset;
  line-height: 0.9;
  max-width: 16ch;

  span {
    color: var(--clr-primary);
  }
}

.heroSubtitle {
  font-size: var(--fs-base);
  font-family: var(--ff-title);
  letter-spacing: 4px;
  color: var(--clr-neutral-100-t);
  margin-block: var(--vertical-spacer-small);
  text-transform: uppercase;
}

.heroButton {
  margin-top: calc(1.5 * var(--vertical-spacer-small));
}

.divider {
  margin-bottom: var(--vertical-spacer-large);
}

//
// page contents
//

.heading {
  margin-bottom: 1.25rem;
}

.aboutSection {
  display: grid;
  flex-direction: column;
  gap: var(--vertical-spacer-large);
  padding-block: var(--vertical-spacer-large);
  align-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.aboutImage {
  object-fit: cover;
  object-position: initial;
  width: 100%;
  max-height: 400px;
}

.description {
  text-align: left;
}

//
// selling points
//

.sellingPointsSection {
  background: var(--clr-primary-light);

  @media screen and (min-width: 768px) {
    background: var(--clr-primary);
  }
}

.sellingPointHeading {
  margin-bottom: var(--vertical-spacer-large);
  text-align: center;
}

.sellingPointsWrapper {
  margin-inline: auto;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

.sellingPoint {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  gap: var(--vertical-spacer-small);
  margin-block: var(--vertical-spacer-medium);

  @media screen and (min-width: 768px) {
    background: var(--clr-primary-light);
    border-radius: var(--border-radius-100);
    padding: 1rem;
    margin-block: unset;
  }
}

.sellingPointDetails {
  grid-column: 2/3;
  align-self: start;
}

.checkMark {
  max-width: 24px;
  aspect-ratio: 1/1;
}

//
// section content (post selling points)
//

.section,
.sectionReverse {
  display: grid;
  align-items: center;
  padding-bottom: var(--vertical-spacer-large);
  gap: var(--vertical-spacer-medium);

  @media screen and (min-width: 768px) {
    gap: var(--vertical-spacer-large);
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
  }
}

.sectionReverse {
  @media screen and (min-width: 768px) {
    > :last-child {
      order: -1;
    }
  }
}

.sectionImage {
  border-radius: var(--border-radius-200);
  aspect-ratio: 1/1;
  width: 100%;
  max-height: 40vh;
  margin-inline: auto;
  object-fit: cover;
}
