.wavySeparator {
  margin-block: -2px;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wavySeparator svg {
  width: calc(159% + 1.3px);
  height: 52px;
}

.wavySeparator .shapeFill {
  fill: var(--clr-primary-light);
}
