.carousel {
  margin-block: var(--vertical-spacer-large);
  border-radius: var(--border-radius-200);

  display: grid;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  grid-auto-rows: 100%;

  // overflow: hidden;
  overflow-x: scroll;

  max-height: min(75vh, 600px);

  scroll-snap-type: x mandatory;
  scroll-padding: 0 12px;
}

.carouselItem {
  scroll-snap-align: center;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  place-items: center;
}

.carouselImage {
  max-height: min(75vh, 600px);
  // width: 80%;
  object-fit: contain;
}
