.navSection {
  margin-bottom: var(--vertical-spacer-medium);
}

.navWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  --nav-color: var(--clr-fg-light);
  background: var(--clr-primary-lighter);
  padding-block: calc(2 * var(--vertical-spacer-small));
  border-radius: var(--border-radius-200);

  &.singleColumn {
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: var(--vertical-spacer-medium);
    }
  }
}

.navButton {
  aspect-ratio: unset;
}

.buttonContent {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.navLabel {
  color: var(--nav-color);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  line-height: 1;
}

.navArrow {
  color: var(--nav-color);
  width: min(7vw, 26px);
  aspect-ratio: 1/1;
}

//
// get started section
//

.getStartedColumn {
  background: var(--clr-neutral-150-t);
  width: 100%;
  text-align: center;
  padding: var(--vertical-spacer-medium);
  border-radius: var(--border-radius-200);
}

.getStartedHeading {
  margin-bottom: calc(2 * var(--vertical-spacer-small));
}
