.dashboardHeader {
  text-align: center;
}

.userDetailsHeader {
  margin-bottom: var(--vertical-spacer-small);

  &:nth-of-type(2) {
    margin-top: var(--vertical-spacer-small);
  }
}

.contentWrapper {
  display: grid;

  @media screen and (min-width: 768px) {
    gap: var(--vertical-spacer-medium);
    grid-template-columns: 1fr 1fr;
  }
}
