.contact {
  background: var(--clr-bg-light);
}

.contactWrapper {
  display: grid;
  gap: var(--vertical-spacer-large);

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1.5fr;
  }
}

.contactLeftColumn {
  display: grid;
  place-items: center;
  margin-inline: auto;

  @media screen and (min-width: 960px) {
    text-align: left;
  }
}

.waitContent {
  max-width: 600px;
}

.contactHeader {
  margin-bottom: var(--vertical-spacer-small);
}

.contactInstructions {
  margin-bottom: calc(2 * var(--vertical-spacer-small));
}
