.contact {
  background: var(--clr-bg-light);
}

.contactWrapper {
  display: grid;
  gap: var(--vertical-spacer-large);

  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1.5fr;
  }
}

.contactLeftColumn {
  display: grid;
  align-items: center;
  justify-content: center;
  // text-align: center;

  margin-inline: auto;

  @media screen and (min-width: 960px) {
    text-align: left;
  }
}

.contactHeader {
  margin-bottom: var(--vertical-spacer-small);
}

.contactInstructions {
  margin-bottom: calc(2 * var(--vertical-spacer-small));
}

.getStartedButtonWrapper {
  margin-top: var(--vertical-spacer-medium);
  display: grid;
  place-items: center;
}

.getStartedButton {
}

.form {
  min-width: 100%;
}
