.header {
  position: sticky;
  top: 0;

  width: 100%;
  padding-block: var(--vertical-spacer-small);
  z-index: 10;

  background: var(--clr-bg);

  box-shadow: var(--box-shadow-100);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-title);
}

.logo,
.logo:visited,
.logo:active,
.logo:focus {
  font-family: var(--ff-logo);
  line-height: 1;
  font-size: var(--fs-heading);
}

.hamburger {
  height: 36px;
  z-index: 11;
}

.nav {
  display: none;
}

.nav__link,
.nav__link:focus,
.nav__link:active,
.nav__link:visited {
  color: var(--clr-fg);
  font-size: var(--fs-base);
}

.nav__ul {
  list-style: none;
  padding: 0;

  & > li {
    margin-block: 1rem;
  }
}

.expanded {
  position: fixed;
  inset: 0;
  display: grid;
  align-items: center;
  text-align: center;
  background: var(--clr-neutral-900-t);
  backdrop-filter: blur(9px);

  a,
  a:visited,
  a:active,
  a:focus,
  button {
    animation: fadeIn 0.75s ease-in-out forwards;
    font-size: calc(var(--fs-heading) * 0.85);
    color: var(--clr-bg);
    text-shadow: var(--text-shadow-100);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav,
  .expanded {
    all: unset;
    display: block;
  }

  .nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
