.header {
  position: sticky;
  top: 0;
  background: var(--clr-bg);
  width: 100%;
  padding-block: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.header a {
  color: var(--clr-fg);
}

.title {
  font-weight: bold;
  line-height: 1;
}

.hamburger {
  height: 36px;
  z-index: 11;
}

.nav {
  display: none;
}

.expanded {
  position: fixed;
  inset: 0;
  display: grid;
  align-items: center;
  text-align: center;
  background: var(--clr-neutral-900-t);
  backdrop-filter: blur(9px);
  font-size: 2rem;
}

.nav__ul {
  list-style: none;
  padding: 0;

  & > li {
    margin-block: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav,
  .expanded {
    all: unset;
    display: block;
  }

  .nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
