.header {
  position: sticky;
  top: 0;

  width: 100%;
  padding-block: var(--vertical-spacer-small);
  z-index: 10;

  background: var(--clr-bg);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-title);
}

.logo {
  font-family: var(--ff-logo);
  line-height: 1;
}

.hamburger {
  height: 36px;
  z-index: 11;
  background: var(--clr-bg);
}

.nav {
  display: none;
}

// desktop nav
.header a {
  color: var(--clr-fg);
  font-size: var(--fs-base);
}

.header .logo {
  font-size: var(--fs-heading);
}

.nav__ul {
  list-style: none;
  padding: 0;

  & > li {
    margin-block: 1rem;
  }
}

.expanded {
  position: fixed;
  inset: 0;
  display: grid;
  align-items: center;
  text-align: center;
  background: var(--clr-neutral-900-t);
  backdrop-filter: blur(9px);
  font-size: 2rem;
}

.expanded a,
.expanded button {
  font-size: var(--fs-heading);
}

.expanded a {
  color: var(--clr-bg);
  &:hover {
    color: var(--clr-bg-light);
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav,
  .expanded {
    all: unset;
    display: block;
  }

  .nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
