.button {
  border: 0;
  outline: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: var(--box-shadow-100);
}

.primary,
.secondary,
.outline,
.hero {
  padding: 0.6rem 1.5rem;
  font-weight: var(--fw-bold);
  border-radius: var(--border-radius-100);
  font-family: var(--ff-title);
}

.primary {
  background: var(--clr-fg);
  color: var(--clr-bg);

  &:hover {
    background: var(--clr-primary);
    color: var(--clr-fg);
  }
}

.secondary {
  background: var(--clr-primary);
  color: var(--clr-fg);
  padding-inline: min(5vw, 3rem);
  padding-block: min(2vw, 0.75rem);

  &:hover {
    background: var(--clr-fg-light);
    color: var(--clr-bg-light);
    outline: 3px solid var(--clr-primary);
  }
}

.outline {
  border: 3px solid var(--clr-fg);
  background: none;
  color: var(--clr-fg);

  &:hover {
    background: var(--clr-fg);
    color: var(--clr-primary);
  }
}

.hero {
  font-size: var(--fs-base-large);
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-fg);
  padding-inline: min(5vw, 3rem);
  padding-block: min(2vw, 0.75rem);

  &:hover {
    background: var(--clr-fg-light);
    color: var(--clr-bg-light);
    outline: 3px solid var(--clr-primary);
  }
}

.icon {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  padding: 0;
  background: none;
  color: var(--clr-fg);

  &:hover {
    color: var(--clr-primary);
  }
}
