.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--vertical-spacer-small);
  margin-block: var(--vertical-spacer-large);

  @media (min-width: 768px) {
    gap: var(--vertical-spacer-medium);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.galleryImageButton {
  border: 0;
  padding: 0;
  cursor: pointer;
  filter: brightness(0.7);

  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(1);
    scale: 1.025;
  }

  &:focus {
    outline: 8px solid var(--clr-primary-light);
  }
}

.galleryImage {
  aspect-ratio: 1/1;
  object-fit: cover;
}

//
// modal
//

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: var(--clr-neutral-900-t);
  display: grid;
  place-items: center;
}

.modalImageWrapper {
  padding: var(--content-padding);
}

.modalImage {
  max-height: 90vh;
}
